@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background:#36F;
	overflow:hidden;
}
#container{
	margin:0px;
	width:1300px;
	margin:auto;
	background:#F90;
	height:637px;
	
}


#logo{
	width:30%;
	height:50px;
	background:#0F0;
	float:left;
	
}

#panel-above{
	width:70%;
	background:#F00;
	height:50px;
	float:left;
	
}

header {
    margin: 0;
    padding: 0;
}

header:before,
header:after {
    content:"";
    display:table;
}
header:after {
    clear:both;
}


#main-nav{
	width:7%;
	background:red;
	height:587px;
	float:left;
	overflow:hidden;
}

#second-nav{
	width:23%;
	background:yellow;
	height:587px;
	float:left;
	overflow:hidden;
	
}
#content{
	width:70%;
	background:green;
	height:587px;
	float:left;
	
}

#slider{
	
}

article{
	
}

#map{
	
}

#aside{
	
}

footer{
	
}


/*
Responsive Setting Area
========================
*/

@media screen and (max-width: 1366px){
/* CSS styles */
#container{
width:100%;
}
}
@media screen and (max-width: 1024px){
/* CSS styles */

}
@media screen and (max-width: 992px){
/* CSS styles */
}
@media screen and (max-width:880px){
/* CSS styles */
}
@media screen and (max-width:768px){
/* CSS styles */
}
@media screen and (max-width:600px){
/* CSS styles */
}
@media screen and (max-width:480px){
/* CSS styles */
}
@media screen and (max-width:320px){
/* CSS styles */
}
@media screen and (max-width:240px){
/* CSS styles */
}