@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background:#36F;
	overflow:hidden;
}
#container{
	margin:0px;
	width:1300px;
	margin:auto;
	background:#39F;
	height:704px;
}


#logo{
	width:30%;
	height:60px;
	/*background-image:url(image/logo.png);*/
	background-color:#222;
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	float:left;
}

#panel-above{
	width:70%;
	background:#222;
	height:60px;
	float:left;
}

header {
    margin: 0;
    padding: 0;
}

header:before,
header:after {
    content:"";
    display:table;
}
header:after {
    clear:both;
}


#main-nav{
	width:7%;
	background:red;
	height:644px;
	float:left;
	overflow:hidden;
}

#second-nav{
	width:23%;
	background:yellow;
	height:644px;
	float:left;
	overflow:auto;
}

#content{
	width:70%;
	background:green;
	height:587px;
	float:left;
}

#sub_menu,#sub_menu_cari {
	margin:0;
	width:100%;
}

.submenu, .submenucari {
	width:100%;
	height:90px;
	border-bottom:2px solid #333;
	background:#6C6C6C;
	list-style:none;
	padding:0;
	margin:0 0 0 -40px;
	float:left;
}

.submenucari > p {
	color:#F00;
	text-align:left;
	padding:11px 0 0px 10px;
	margin:0;
	font-size:1em;
	font-weight:bold;
	font-family:Arial, sans-serif;
}

#sub_menu_cari > a {
	text-decoration:none;
}

.submenucari {
	height:40px;
}

.image, .info {
	float:left;
}

.image {
	width:70px;
	height:70px;
	background:#C4530F;
	border:2px solid #009;
	border-radius:5px;
	margin:8px 10px 10px 10px;
	padding:0;
}

.info, .info2 {
	height:70px;
	color:#F00;
	padding:0;
	margin:21px 0 20px 0;
}

.info2 {
	margin:18px 0 20px 0;
}

.info > p {
	text-align:left;
	margin:0 0 5px 0;
}

.info2 > p {
	height:20px;
	text-align:left;
	margin:0 0 5px 0;	
}

#slider{
	
}

article{
	
}

#map{
	
}

#aside{
	
}

footer{
	
}


/*
Responsive Setting Area
========================
*/

@media screen and (max-width: 1366px){
/* CSS styles */
#container{
width:100%;
}
}
@media screen and (max-width: 1024px){
/* CSS styles */

}
@media screen and (max-width: 992px){
/* CSS styles */
}
@media screen and (max-width:880px){
/* CSS styles */
}
@media screen and (max-width:768px){
/* CSS styles */
}
@media screen and (max-width:600px){
/* CSS styles */
}
@media screen and (max-width:480px){
/* CSS styles */
}
@media screen and (max-width:320px){
/* CSS styles */
}
@media screen and (max-width:240px){
/* CSS styles */
}


#cari{
	height:50%;
	width:35%;
	margin-left:10px;
	margin-top:15px;
}
#tcari{
	height:50%;
	width:5%;
	margin-top:12px;
	margin-left:12px;
	border:none;
}

input{
	margin:14px 10px 10px 10px;
}

#form_cari{
	width:350px;
	height:30px;
	margin-left:10px;
	border-width:0;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	text-indent:5px;	
}

#tombol_cari{
	font-family:Arial;
	font-size:16px;
	color:#FFF;
	height:30px;
	width:50px;
	margin-left:-14px;
	background-color:orange;
	border-width:0;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}


/* Main-Nav Setting*/

#main-nav{
	background:#222;
	padding:0em;
}

#home_icon{
	background-image:url(image/t5.png);
	background-repeat:no-repeat;
	background-size:70px;
	width:70px;
	height:95px;
	margin-top:5px;
	padding-bottom:10px;
	/*margin-left:5px;*/
}
#carilokasi_icon{
	background-image:url(image/CariLokasi_icon.png);
	background-repeat:no-repeat;
	background-size:70px;
	width:70px;
	height:95px;
	margin-top:5px;
	padding-bottom:10px;
	/*margin-left:5px;*/
	background-repeat:no-repeat;
}
#tambahlokasi_icon{
	background-image:url(image/TambahLokasi_icon.png);
	background-repeat:no-repeat;
	background-size:70px;
	width:70px;
	height:95px;
	margin-top:5px;
	padding-bottom:10px;
	/*margin-left:5px;*/
}
#kontak_icon{
	background-image:url(image/Kontak_icon.png);
	background-repeat:no-repeat;
	background-size:70px;
	width:70px;
	height:95px;
	margin-top:5px;
	padding-bottom:10px;
	/*margin-left:5px;*/
}
#tentangkami_icon{
	background-image:url(image/Tentang_icon.png);
	background-repeat:no-repeat;
	background-size:70px;
	width:70px;
	height:95px;
	margin-top:5px;
	padding-bottom:10px;
	/*margin-left:5px;*/
}
p{
	margin-top:0px;
	padding:0px;
	text-align:center;
}
#main-nav div:hover{
	background-color:#141414;
	
	
}



#main-nav div a{
	text-decoration:none;
	color:#39F;
}
#main-nav div{
	background-position:center;
	padding-left: 0.4em;
	padding-top: 0.2em;
	/*padding-bottom: 0.2em;*/
}
#judulsampinghome1,
#judulsampinghome2 {
	/*background-image:url(image/storyboard.png);*/
	height:7%;
	width:100%;
	background-size:250px 40px;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#444;
}

#judulsampinghome1 {
	background-image:url(image/storyboard.png);
}

#judulsampinghome2 {
	background-image:url(image/pilihkategori.png);
}

#content{
	background-color:#99F;
	height:644px ;
	width:69%;
	margin-left:1%;
	overflow:auto;
}

::-webkit-scrollbar {
	width: 8px; 
	background: #CCCCCC;
}

::-webkit-scrollbar-thumb {
	background-color: #706D6D; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
}

#aside-article{
    margin: 0;
    padding: 0;
}

#aside-article:before,
#aside-article:after {
    content:"";
    display:table;
}
#aside-article:after {
    clear:both;
}
taq{
	padding:0px;
}
#taq p{
	color:#FFF;
}
#isi p{
	text-align:justify;
	margin:1em;
}
#isi{
	background:#FFF;
	height:500px;
}

#aside-article h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
}

#text {
	font-family:"Calibri";
}